body, html {
    height: 100%;
}

.navbar {
    background: transparent;
}

.navbar-brand {
    margin-right: auto;
    margin-left: auto;
}

.background {
    background: url('/Images/landing-image.jpeg') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100vw;
    
}

.welcome {
    background-color: rgba(14, 13, 11, 0.6);
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.welcome h1 {
    color: white;
    margin: auto;
    margin-bottom: 0.4em;
    font-size: 4rem;
}

.welcome p {
    color: white;
    margin: auto;
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
}

.mailto {
    color: white;
    text-decoration: underline;
}

.welcome a:hover {
    color: rgb(189, 189, 189);
}

.welcome span {
    display: block;
    margin: 1em;
}

